{% extends 'navbar.html' %}
{% block title %}Infrastructure {% endblock %}
{% block excss %}

    <link href="../../static/css/TikAtar.css" rel="stylesheet">
{% endblock %}
<div class="container text-center">
    <div class="row">
    <div class="col-sm-2">
{% block heading %}<h1>
    תיק אתר
</h1>{% endblock heading %}
    </div>
    {% block content %}
    <div class="col-md-6">
                    <form method="POST"  id="clientForm" class="row g-3">
                        {{ form.hidden_tag() }}
                    <div class="form-group col-lg-4">
                        <select class="form-select form-select-lg input-group" aria-label=".form-select-lg example" id="mycustomer" onchange="GetSelection()">
                              <option selected>אנא בחרו לקוח</option>
                                {%  for i in customer %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                        </select>
                    </div>
                    </form>
    <div class="canvas"> </div>
            </div>
       </div>
   </div>
{#{% block footer %}{% endblock footer %}#}
    <script src="https://d3js.org/d3.v7.min.js" defer></script>
    <script src="../static/js/views/tikatar3.js" type="text/javascript"></script>

{% endblock content %}
{#{% block footer %}{% endblock footer %}#}
