{% extends 'menu.html' %}
{% block title %}Infrastructure {% endblock %}
{% block excss %}
    <link href="../../static/css/TikAtar.css" rel="stylesheet">
{% endblock %}
{#{% block heading %}תיק אתר{% endblock heading %}#}

{%  block content %}
   <div class="container-fluid h-custom text-center" style="vertical-align: top">
            <div class="row d-flex text-center justify-content-center">
                    <form method="POST" style="vertical-align: top" id="clientForm">
                        {{ form.hidden_tag() }}
                        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="mycustomer" onchange="atar()">
                              <option selected>אנא בחרו לקוח</option>
                                {%  for i in customer %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                        </select>
                    </form>
                    <div class="tikAtar">
                        <div class="hyper1">
                            <div class="hypervisor">
                                <div class="ipadd">15.21.16.3</div>
                                <div class="iloadd">15.21.16.239</div>
                                <div class="image">
                                    <img src="../../static/images/ProxmoxLogo.svg" id="proxmox">
                                </div>
                            </div>
                            <div class="server"></div>
                            <div class="server"></div>
                            <div class="server"></div>
                            <div class="server"></div>
                        </div>
                        <div class="hyper2">
                            <div class="hyperip">IP 15.21.16.8</div>
                        </div>
                        <div class="hyper3">
                            <div class="hyperip"></div>
                        </div>
                        <div class="hyper4">
                            <div class="hyperip"></div>
                        </div>
                    </div>
                </div>
            </div>
   </div>




<script src="../static/js/views/tikatar.js" type="text/javascript"></script>
{%  endblock content %}