{% extends 'menu.html' %}
{% block title %}EditCustomers {% endblock %}
{% block heading %}עריכת לקוחות{% endblock heading %}

{%  block content %}

       <script>
           const custid = '{{ customer.id }}'
           const custname = '{{ customer.name }}'
           const custcity = '{{ customer.city }}'
           const custadd = '{{ customer.address }}'
           const custindomain = '{{ customer.internalDomain }}'
           const custexdomain = '{{ customer.externalDomain }}'
           const custowaadd = '{{ customer.owaAdd }}'
       </script>
   <div class="container-fluid h-custom text-center" style="vertical-align: top">
            <div class="row d-flex h-100 text-center justify-content-center">

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 text-center " style="vertical-align: top">
                    <form method="POST" style="vertical-align: top" id="clientForm">
                        {{ form.hidden_tag() }}
                          <div class="dropdown btn-group">
                        <div class="form-outline sm-3 text-center dropdown p-3 mb-2 bg-primary text-dark" style="vertical-align: top; border-radius: 15px;">
                            {{ myform.mycustomer.label(class_="form-label")}}
                            </br>
                            {{ myform.mycustomer(onchange="myfunc()")}}
                        </div>
                        </div>
                        <div class="name"></div>
                        <div class="city"></div>
                        <div class="address"></div>
                        <div class="intenaldomain"></div>
                        <div class="externaldomain"></div>
                        <div class="owaadd"></div>

                    </form>
{#                      <div class="container-fluid h-custom text-right">#}
{#            <div class="row d-flex justify-content-center align-center h-100">#}

{#                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">#}
                <div class="col-lg-8 col-xl-5 offset-xl-1">
                    <form method="POST" class="text-dark">
                        {{ form.hidden_tag() }}
                        <div class="divider d-flex  sm-4 float-right text-dark">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <div class="form-outline sm-4 float-right text-right text-dark">
                            {{ form.name.label(class_="form-label") }}
                            </br>
                            {{ form.name(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.city.label(class_="form-label") }}
                            </br>
                            {{ form.city (class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.address.label(class_="form-label") }}
                            </br>
                            {{ form.address(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.internalDomain.label(class_="form-label") }}
                            </br>
                            {{ form.internalDomain(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.externalDomain.label(class_="form-label") }}
                            </br>
                            {{ form.externalDomain(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.owaadd.label(class_="form-label form-group-lg input-group-lg") }}
                            </br>
                            {{ form.owaadd(class_="form-control form-group-lg input-group-lg") }}
                        </div>
{#                        <input name="cid" id="cid"> {{ customer.id }} </input>#}
{#                        <br>#}
                        <select class="form-outline sm-3 form-control" multiple aria-label="multiple select example" name="sysadmins" id="sysadmins">
                          <option selected>מנהלי רשת</option>
                            {% for admin in empoloyees %}
                                <option value={{ admin.id }} >{{ admin.firstName }}</option>
                            {% endfor %}

                        </select>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            {{ form.submit(class_="btn btn-primary btn-lg",value="עריכת לקוח")}}
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
   </div>
    <script type="text/javascript" src="../../static/EditCustomerts.js">
    </script>
{% endblock content %}