{% extends 'formBase.html' %}
{% block title %}AddCustomer {% endblock %}
{% block heading %} הוספת לקוח{% endblock heading %}

{%  block content %}

   <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="divider d-flex align-items-center sm-4">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <div class="form-outline sm-4 ">
                            {{ form.name.label(class_="form-label") }}
                            </br>
                            {{ form.name(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.city.label(class_="form-label") }}
                            </br>
                            {{ form.city (class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.address.label(class_="form-label") }}
                            </br>
                            {{ form.address(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.internalDomain.label(class_="form-label") }}
                            </br>
                            {{ form.internalDomain(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.externalDomain.label(class_="form-label") }}
                            </br>
                            {{ form.externalDomain(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-3">
                            {{ form.owaadd.label(class_="form-label") }}
                            </br>
                            {{ form.owaadd(class_="form-control") }}
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                            {{ form.submit(class_="btn btn-primary btn-lg")}}
                        </div>

                    </form>
                </div>
            </div>
   </div>

{% endblock content %}