{% extends'formBase.html' %}
{% block menu %}
{#    <div class="btn-group menu">#}
{#        <div class="dropdown">#}
{#            <button class="btn btn-success dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown"#}
{#                    aria-expanded="false">#}
{#                תפריט ראשי#}
{#            </button>#}
{#            <ul class="dropdown-menu" aria-labelledby="dropdown">#}
{#                <li><a class="dropdown-item" href="{{ url_for('main.home') }}">בית</a></li>#}
{#                <li><a class="dropdown-item" href="#">הלקוחות שלי</a></li>#}
{#                <li><a class="dropdown-item" href="{{ url_for("main.WorkReport") }}">שליחת סיכומי ביקור</a></li>#}
{#                <li><a class="dropdown-item" href="{{url_for("main.addTask")}}">יצירת משימה</a></li>#}
{#                <li><a class="dropdown-item" href="{{url_for("main.addHyper")}}">יצירת שרת מארח</a></li>#}
{#                <li><a class="dropdown-item" href="{{url_for("main.logout")}}">התנתקות</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}

    <div class="dropdown" style="direction: rtl; float: left">
        <a class="btn btn-success dropdown-toggle dropdown-menu-left" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Menu </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for("main.WorkReport") }}">שליחת סיכומי ביקור</a></li>

            <li class="dropdown dropend">
                <a class="dropdown-item dropdown-toggle dropdown-menu-right" href="#" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">מסכי עריכה</a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="multilevelDropdownMenu1" style="float: right;">
                    <li><a class="dropdown-item" href="{{url_for("main.editcust")}}">עריכת לקוחות</a></li>
                    <li><a class="dropdown-item" href="{{url_for("main.logout")}}">עריכת עובדים</a></li>
                    <li><a class="dropdown-item" href="{{url_for("main.addCustomer")}}">הוספת לקוח</a></li>
                    <li class="dropdown dropend">
                        <a class="dropdown-item dropdown-toggle" href="#" id="multilevelDropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Multilevel Action 2</a>
                        <ul class="dropdown-menu" aria-labelledby="multilevelDropdownMenu2">
                            <li><a class="dropdown-item" href="#">עריכת לקוחות</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li><a class="dropdown-item dropdown-toggle dropdown-menu-right" href="#">מסכי יצירת אובייקטים</a></li>
        </ul>
    </div>
<script src="../static/multilevelMenu.js" type="text/javascript"></script>
{% endblock menu %}