{% extends 'base.html' %}
{% block title %}Form {% endblock %}
{% block excss %}{% endblock excss %}
{% block menu %}{% endblock menu %}
<h1>{% block heading %}{% endblock heading %}</h1>
{% block content %}
{% endblock content %}
{% block footer %}
    <footer id="footer" class="shadow  navbar navbar-fixed-bottom  justify-content-end text-md-end  py-4 px-2 px-xl-5 bg-primary rounded mt-auto">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0">
            Copyright TROT LTD© 2022. All rights reserved.
        </div>
    </footer>
{% endblock footer %}