{% extends'formBase.html' %}
{% block menu %}
    <div class="btn-group menu">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                תפריט ראשי
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
                <li><a class="dropdown-item" href="{{ url_for('main.home') }}">בית</a></li>
                <li><a class="dropdown-item" href="#">הלקוחות שלי</a></li>
                <li><a class="dropdown-item" href="{{ url_for("main.WorkReport") }}">שליחת סיכומי ביקור</a></li>
                <li><a class="dropdown-item" href="{{url_for("main.addTask")}}">יצירת משימה</a></li>
                <li><a class="dropdown-item" href="{{url_for("main.addHyper")}}">יצירת שרת מארח</a></li>
                <li><a class="dropdown-item" href="{{url_for("main.logout")}}">התנתקות</a></li>
            </ul>
        </div>
    </div>
{% endblock menu %}