{%  extends 'navbar.html' %}
{% block title %}AddAServer {% endblock %}
{% block heading %}
<h1>הוספת שרת לוגי</h1>
{% endblock heading %}

{%  block content %}

   <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="divider d-flex align-items-center sm-4">
                            <p class="text-center fw-bold mx-3 mb-0"></p>
                        </div>
                        <div class="form-outline sm-4 ">
                        <select name="mycustomer" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="mycustomer" onchange="myfunc()">
                              <option name="selected">אנא בחרו לקוח</option>
                                {%  for i in customer %}
                                <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                        </select>
                            <select name="hypervisor" id="ips"class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="hypervisor" onchange="myfunc()">
                              <option name="selected" id="options">אנא בחרו שרת מארח</option>
{#                                {%  for i in hyper %}#}
{#                                <option value="{{ i.id }}">{{ i.ip_address }}</option>#}
{#                                {% endfor %}#}
                        </select>

                        </div>
                        <div class="form-outline sm-4 ">
                            {{ form.ip_address.label(class_="form-label") }}
                            </br>
                            {{ form.ip_address(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-4 ">
                            {{ form.name.label(class_="form-label") }}
                            </br>
                            {{ form.name(class_="form-control") }}
                        </div>
                        <div class="form-outline sm-4 ">
                            {{ form.osType.label(class_="form-label") }}
                            </br>
                            {{ form.osType(class_="form-control") }}
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            {{ form.submit(class_="btn btn-primary btn-lg")}}
                        </div>

                    </form>
                    <div id="JS">

                    </div>
                </div>
            </div>
   </div>

    <script
            src="../../static/js/create/addServer.js">

    </script>

{% endblock content %}