.tikAtar {
    display: grid;
    grid-gap: 1em;
    grid-template-columns:  2fr 2fr ;
    grid-template-rows:  2fr ;
    /*background-color: aquamarine;*/
    height: 60vh;
    width: 90vw;
    margin: 0;
    padding: 0;
    align-content: center;
}
body{
    margin: 0;
    padding: 0;
}
.tikAtar > div{
    padding: 10px;
    border: solid black 5px;
    border-radius: 10px;
}
div.hypervisor{
    border-radius: 15px;
    background-color: black;
    height: 20%;
    width: 100%;
    color: white;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.server{
    border-radius: 15px;
    background-color: lawngreen;
    width: 100%;
    height: 15%;
    margin-top: 15px;
    padding: 15px;
}
div.hypervisor img{
    width: 30%;
    background-color: rgba(255,255,255,0.4);
    margin-left: auto;
    vertical-align: center;
    display: inline-block;
    text-align: left;
}
div.image{
    margin: 0;
    padding: 0;
    display: inline-block;
    height: max-content;
    width: max-content;
    align-self: end;
    justify-content: left;
}
h1{
    display: inline-block;
    width: max-content;
}
#mycustomer{
    display: inline-block;
    width: max-content;
    margin: 30px;
}
form#clientForm{
    height: max-content;
}